html{
    background-color: black;
    color: white;
}
body{
    font-family: Arial, sans-serif;
}
div{
    background-color: white;
    color: black;
    padding: 500px;
    text-align: center;
}
p{
    font-size: 50px;
    text-align: center;
}